.goal-item {
  margin: 1rem 0;
  /* background: #8b005d; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  border: 1px solid #eee;
  /* color: white; */
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* cursor: pointer; */
}
